* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  color: #303030;
  font-family: "Inter", sans-serif;
}
.page1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 246, 246);
  width: 100%;
  height: 100vh;
  gap: 50px;
  padding: 0 25px;
  overflow-x: hidden;
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center;
  border-bottom: 2px solid #303030;
  z-index: 2;
}
.header-label {
  font-size: 20px;
  font-weight: 580;
}
.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 7px;
  transition: 0.3s ease-in-out;
}
.stick {
  width: 34px;
  height: 3px;
  background-color: #303030;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
}
.stick1,
.stick3 {
  transform-origin: 50% 50%;
}
.hero-section {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.hero-label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.phone-main-nav {
  width: 87%;
  height: 300px;
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 30px;
  font-size: 30px;
  gap: 35px;
  color: rgb(83, 83, 83);
  letter-spacing: 5px;
  cursor: pointer;
  position: absolute;
  left: 1px;
  z-index: 1;
  transition: left 0.5s ease-out;
}
.rotate45 {
  transform: rotate(45deg);
}
.rotate-45 {
  transform: rotate(-45deg);
}
.display-none {
  display: none;
}
.left {
  left: -1500px;
}
.my-name {
  font-size: 45px;
}
.job-role {
  font-size: 18px;
}
